<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projekt_semestralny.Properties.Settings.DESKTOP_TQ55N08ConnectionString"
            connectionString="Data Source=DESKTOP-TQ55N08;Initial Catalog=DESKTOP-TQ55N08;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>